<!DOCTYPE html>
<html>
  <head>
    <title>StripeOneOfPayment</title>
    <%= csrf_meta_tags %>
    <%= csp_meta_tag %>

    <%= stylesheet_link_tag 'application', media: 'all', 'data-turbolinks-track': 'reload' %>
    <%= javascript_pack_tag 'application', 'data-turbolinks-track': 'reload' %>
    <%= javascript_include_tag 'https://js.stripe.com/v3/', 'data-turbolinks-track': 'reload' %>
    <meta name="viewport" content="width=device-width, initial-scale=1, maximum-scale=1, user-scalable=0"/>
    <script src="http://ajax.aspnetcdn.com/ajax/jquery.validate/1.11.1/jquery.validate.min.js"></script>
  </head>

  <body>
    <%= render '/layouts/partials/header'%>
    <%= yield %>
  </body>
  <% flash.each do |type, msg| %>
    <div class="alert alert-info" style="position: absolute;">
      <%= msg %>
    </div>
  <% end %>
</html>

<script type="text/javascript">
  $(".alert" ).fadeOut(5000);
</script>